body {
    margin: 0;
    /* Required to force footer to the bottom of the screen */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: black;
    color: #ffd64f;

    display: flex;
    align-items: center;
    padding: 10px 70px 10px 20px;
}

.crown-logo {
    width: 100px;
    height: 100px;
}

.header-text {
    font-size: 3rem;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 1.3rem;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.nav-links a {
    color: inherit;
}

.nav-links a:hover {
    color: #9c9b9b;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    padding-left: 20px;
}

.hook {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    background-color: #fff0c0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hook-image {
    margin-left: auto;
}

.hook img {
    width: 500px;
    height: auto;

    margin-right: 70px;
    display: block;
}

.hook-text {
    max-width: 500px;

    padding-left: 120px;
}

.hook-text h1 {
    font-size: 3rem;
}

.hook-text p {
    font-size: 1.5rem;
}

.menu {
    padding-bottom: 100px;
    border-bottom: 2px dotted black;
}

.menu ul {
    margin-top: 20px;
}

.menu-header {
    text-align: center;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
}

.menu-item {
    width: 200px;
    height: 300px;
}

.menu-img {
    width: 200px;
    height: 133px;
    display: block;
}

footer {
    background-color: #2a2a2a;
    margin-top: auto;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: underline;
}