body {
    margin: 0;
    /* Required to force footer to the bottom of the screen */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: black;
    color: #ffd64f;

    display: flex;
    align-items: center;
    padding: 10px 70px 10px 20px;
}

.crown-logo {
    width: 100px;
    height: 100px;
}

.header-text {
    font-size: 3rem;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 1.3rem;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.nav-links a {
    color: inherit;
}

.nav-links a:hover {
    color: #9c9b9b;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    padding-left: 20px;
}

.hook {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    background-color: #fff0c0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hook-image {
    margin-left: auto;
}

.hook img {
    width: 500px;
    height: auto;

    margin-right: 70px;
    display: block;
}

.hook-text {
    max-width: 500px;

    padding-left: 120px;
}

.hook-text button {
    background-color: black;
    color: #ffd64f;
    padding: 20px 50px;
}

.hook-text h1 {
    font-size: 3rem;
}

.hook-text p {
    font-size: 1.5rem;
}

.menu {
    padding-bottom: 200px;
}

.menu ul {
    margin-top: 20px;
}

.menu-header {
    text-align: center;
}

.menu-header h1 {
    font-size: 3rem;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 40px;
}

.menu-item {
    width: 200px;
    height: 300px;

    font-size: 20px;
}

.menu-section-header {
    text-align: center;
}

.menu-img {
    width: 200px;
    height: 133px;
    display: block;
}

.testimonials {
    background-color: #ffaa2c;
    padding: 0px 100px;

    font-size: 4rem;
}

.closing {
    padding: 40px;
}

.closing h1 {
    font-size: 2.5rem;
}

.closing p {
    font-size: 2rem;
}

.closing-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.closing-text {
    max-width: 500px;
}

.closing-button {
    padding: 30px 50px;
    border-radius: 5px;

    background-color: white;
}

.closing-button:hover {
    background-color: black;
    color: white;
}

footer {
    background-color: #2a2a2a;
    margin-top: auto;
    padding: 10px;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: underline;
}