body {
    margin: 0;
    /* Required to force footer to the bottom of the screen */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: black;
    color: #ffd64f;

    display: flex;
    align-items: center;
    padding: 10px 70px 10px 20px;
}

.crown-logo {
    width: 100px;
    height: 100px;
}

.header-text {
    font-size: 3rem;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 1.3rem;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.nav-links a {
    color: inherit;
}

.nav-links a:hover {
    color: #9c9b9b;
}

ul {
    list-style-type: none;
    padding: 0;
}

section {
    padding-left: 20px;
}

footer {
    background-color: #2a2a2a;
    margin-top: auto;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: underline;
}